* {
  box-sizing: border-box;
}
body {
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.position-relative {
  position: relative !important;
}
.slide-home {
  padding: 50px 0;
}
.slide-album {
  background-color: #ead9d9;
}
.box_header .title {
  font-size: 19px;
  color: #ff2d55;
  letter-spacing: 0;
  line-height: unset;
}
.box_header .link_more {
  font-size: 12px;
  color: #878787;
  letter-spacing: 0;
}
.card1 .card-body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
.card1 {
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 20px;
  background-color: transparent;
}
.card1 .card-header {
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.card1 .card-body .card-title {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  margin-bottom: 5px;
  font-family: "SFProDisplay-Medium";
  text-transform: capitalize;
}
.card1 .card-body .card-title a {
  color: #1b1b1b;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.card1 .card-body .card-text {
  font-size: 12px;
  color: #878787;
  letter-spacing: 0;
  font-family: "SFProDisplay-Regular";
  text-transform: capitalize;
}
.card1 .card-body .card-text a {
  color: #878787;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.row10px div[class*="col"] {
  padding: 0 10px;
}
.list_music .media {
  padding: 11px 0;
  border-top: 1px solid #dedede;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.media .media-left {
  padding: 0;
  margin-right: 20px;
}
.list_music .media .media-left {
  position: relative;
  padding: 0;
}
.list_music .media .media-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 101;
}
.list_music .media .media-left a {
  z-index: 5;
}
.list_music .media .media-left img {
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.title_home_tablet {
  white-space: nowrap;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list_music .media .media-body .media-title {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}
.list_music .media .media-body .media-title a {
  color: #1b1b1b;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.list_music .media .media-body .media-title a {
  text-transform: none;
}
.title_home_tablet {
  white-space: nowrap;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list_music .media .media-body .author a {
  font-size: 12px;
  color: #878787;
  letter-spacing: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.list_music .media .media-right .time_stt {
  font-size: 11px;
  color: #878787;
  letter-spacing: 0;
}
.list_music .media .media-right .time_stt {
  font-size: 11px;
  color: #878787;
  letter-spacing: 0;
}
.pagination{
  justify-content: center;
}
.cs-right {
  display: grid;
  text-align: right;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
#header .top {
  background-color: #2c2c2c;
  padding: 10px 0;
  color: #fff;
}

.wapper-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  text-align: right;
  width: 60px;
  height: 20px;
  margin-bottom: -6px;
  display: inline-block;
}
#header .top .list-inline .list-inline-item a {
  color: #fff;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
#header .nav-item a {
  color: #333;
  font-size: 16px;
  min-height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 0px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: 500;
}
.logo img {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 16px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav > .nav-item {
  padding: 0;
}
.nav > .nav-item > a {
  padding: 5px 10px;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 400;
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.music_recommendation {
  overflow-y: auto;
  max-height: 246px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.d-table {
  width: 100%;
  display: table !important;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 !important;
  background-color: #f7f7f7;
  display: table-row;
  cursor: pointer;
}

.d-table-cell {
  display: table-cell !important;
}
.detail_lyric_1 .card-footer .d-table-cell {
  padding: 0.9rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.detail_lyric_1 .card-footer .d-table-cell:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.detail_lyric_1 .card-footer .d-table-cell:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer.active span {
  color: #ff2d55;
}
.title2 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: bold;
}
.title2 .author a {
  line-height: 16px;
  color: #ff2d55;
  text-decoration: none;
}
.card-body .card-title {
  font-size: 18px;
  color: #000000;
  margin-bottom: 9px;
}
.card-body .list-unstyled li span {
  color: #878787;
}
.card-body li a {
  color: #212552;
  text-decoration: none;
}
.pl-0 {
  padding-left: 0 !important;
}

/* new theme */
.hiOVWZ {
  position: fixed;
  top: 0px;
  left: 0rem;
  width: 15rem;
  height: 100vh;
  overflow: hidden auto;
  overscroll-behavior-y: contain;
  border-right: 1px solid rgba(28, 30, 32, 0.05);
  z-index: 3;
  background-color: #fff;
}
.qIfwr {
  width: 15rem;
  height: 100%;
}
.hqNQxP {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: inherit;
  height: 56px;
  background-color: rgba(28, 30, 32, 0.02);
}
.hqNQxP .wrapper-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-width: calc(100% - 38px);
  margin-right: 8px;
}
.cwzfIs {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  margin-left: 16px;
  margin-right: 6px;
  cursor: pointer;
}
.JBcAl {
  font-size: 13px;
  font-weight: 500;
  color: rgba(28, 30, 32, 0.88);
}
.cwzfIs a.avatar-user {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
}
.cwzfIs a.avatar-user img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.fwzauO {
  display: inline-flex;
  max-width: calc(100% - 46px);
}
.ePHKxx {
  width: fit-content;
  max-width: 11.5rem;
  display: inline-block;
}
.ePHKxx a.username {
  width: 100%;
  max-width: 11.5rem;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: rgba(28, 30, 32, 0.88);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  cursor: pointer;
}
.geiIEW {
  padding: 1.6rem 0px;
  margin-bottom: 5rem;
}
.geiIEW {
  padding: 1.6rem 0px;
  margin-bottom: 5rem;
}
.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle {
  border: 0 !important;
  padding: 0 !important;
  margin-right: 10px;
}
.dropdown-toggle:focus {
  outline: none;
  box-shadow: none !important;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
}
.ml-16px {
  margin-left: 16px;
}
.ifOydT {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9;
  width: 320px;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  transition: none 0s ease 0s;
}
.drAQLJ {
  width: 320px;
  height: 100vh;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.07);
  border-left: 1px solid rgba(28, 30, 32, 0.05);
}
.ebwIPv {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: calc(100vh - 20rem);
  flex-direction: column;
}
.jvTHpy {
  margin: 0px auto;
  height: calc(100vh - 20rem);
}
.gVzVPL {
  margin-top: 16px;
  padding: 12px 0px;
  border-radius: 4px;
  background-color: rgba(28, 30, 32, 0.02);
}
.beUHDP {
  width: 240px;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px;
}
.kHigLB {
  cursor: pointer;
}
.GuhPz {
  position: relative;
  width: 240px;
  height: 240px;
  padding: 0px;
  margin: 0px auto;
  z-index: 1;
}
.gVzVPL {
  margin-top: 16px;
  padding: 12px 0px;
  border-radius: 4px;
  background-color: rgba(28, 30, 32, 0.02);
}

.fZPioS {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
  transition: all 200ms ease-in 0s;
}
.cNMrYa {
  margin: 12px 16px 0px;
}
.cNMrYa .group-left {
  padding-left: 8px;
}
.ifpCqr {
  position: relative;
}
.bMVqpF {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(28, 30, 32, 0.88);
  overflow: hidden;
}
.lcHdEu {
  width: 100%;
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  margin-top: 0.6rem;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left !important;
}
.gJpHzO {
  font-size: 13px;
  line-height: 18px;
  color: rgba(28, 30, 32, 0.5);
}
.ifhmLj {
  color: rgba(28, 30, 32, 0.5);
  user-select: none;
}
.gJpHzO {
  font-size: 13px;
  line-height: 18px;
  color: rgba(28, 30, 32, 0.5);
}
.eFEVLi {
  width: 310px;
  margin: auto;
  padding-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 1px;
}
.rhap_container {
  border: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.07) !important;
}
.cyXUeA {
  width: 168px;
  height: 36px;
  cursor: pointer;
  border-radius: 1.9rem;
  background-color: rgba(28, 30, 32, 0.02);
  margin-left: 15px;
}
.hQhNXy {
  color: rgba(28, 30, 32, 0.5);
  font-size: 13px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  user-select: none;
}
.MuiButtonBase-root .btn {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-root .btn {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}
.MuiIconButton-root .btn {
  background-color: rgba(0, 0, 0, 0.04);
}
.jss30 .btn {
  padding: 10px;
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  font-size: 16px;
}
.kRuzxG {
  color: rgba(28, 30, 32, 0.5);
}
.MuiTouchRipple-root .btn {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.btn-secondary:hover {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;
}
.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;
  box-shadow: unset !important;
}
.ongtt-cs {
  padding-left: 15rem;
  padding-right: 320px;
}
.dhqEfd {
  position: relative;
  width: inherit;
  height: auto;
}
.dzMbQL {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 1px solid rgba(28, 30, 32, 0.05);
  border-radius: 4px;
  overflow: hidden;
}
.fBWTee {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://stc-id.nixcdn.com/v12/static/media/default_playlist.2cdd43d1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 300ms linear;
  -webkit-transition: transform 300ms linear;
  transition: transform 300ms linear;
  will-change: transform;
}
.jZMSEE {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  will-change: opacity;
}
.gsyTqS {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.88);
  width: 40px;
  height: 40px;
  opacity: 0;
  -webkit-transition: opacity 300ms linear, -webkit-transform 100ms linear;
  -webkit-transition: opacity 300ms linear, transform 100ms linear;
  transition: opacity 300ms linear, transform 100ms linear;
  will-change: opacity, transform;
}
.eKvyCy {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: none;
}
.jOtmSH {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(28, 30, 32, 0.88);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cAgHit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dzMbQL:hover {
  cursor: pointer;
}
.sc-gVCZyc:hover .sc-jfDjMo {
  opacity: 1;
}
.iHLNZK {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(28, 30, 32, 0.88);
}
.sc-gVCZyc:hover .sc-ksKZJi {
  opacity: 1;
}
.sc-gVCZyc:hover .sc-cVvZcD {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.w3-col,
.w3-half,
.w3-quarter,
.w3-third,
.w3-threequarter,
.w3-twothird {
  float: left;
  width: 100%;
}
.dzUQsw {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  padding: 2rem 4rem;
  background-color: rgba(28, 30, 32, 0.02);
  margin-bottom: 2.4rem;
}
.chrOjL::before {
  content: "";
  position: absolute;
  margin: 0;
  z-index: 20;
  border-style: solid;
  border-color: rgba(28, 30, 32, 0.05) transparent;
  border-width: 1rem 0.8rem 0 0.8rem;
  bottom: -1rem;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: calc(
    calc(calc(calc(calc(100% - 3.2rem) - calc(9.6rem * 6)) / 2) + 1.8rem) + 4rem
  );
  left: calc(
    calc(calc(calc(calc(100% - 3.2rem) - calc(9.6rem * 6)) / 2) + 1.8rem) +
      calc(4rem + calc(9.6rem * 5))
  );
  -webkit-transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.kESaHU {
  width: 8rem;
  height: 8rem;
  margin-right: 4rem;
  box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 20%);
}
.ivASVi {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}
.ipbSEQ {
  width: calc(100% - 20rem);
}
.kuWvPE {
  margin-top: 0.8rem;
  min-width: 3rem;
  font-size: 1.4rem;
  line-height: 20px;
  white-space: nowrap;
  color: rgba(28, 30, 32, 0.88);
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
}
.hvQtvl {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 18px;
  color: rgba(28, 30, 32, 0.88);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
}
.gwofgg {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
}
.ibKgcD {
  margin-top: 8px;
  height: 24px;
  line-height: 24px;
}
.kBSjbO {
  line-height: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
}
.dWqbEy {
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
}
.jnHdeb {
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.6rem;
}
.dnYhLk {
  font-size: 1.8rem;
  color: rgba(28, 30, 32, 0.5);
  margin-right: 0.4rem;
}
.iMCVKI {
  height: 0.1rem;
  background-color: rgba(28, 30, 32, 0.05);
  margin: 1.6rem 0 0.8rem 0;
}
.jpkIwU {
  color: rgba(28, 30, 32, 0.5);
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8rem;
}
.gwLCcx {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 12rem;
  padding: 2rem 4rem;
  background-color: rgba(28, 30, 32, 0.02);
  margin-bottom: 2.4rem;
}
.dQtBnd {
  position: relative;
  width: 100%;
  height: 72px;
  border-radius: 4px;
  background-color: rgba(28, 30, 32, 0.02);
}
.kKDsJV {
  width: 56px !important;
  height: 56px;
  border-radius: 4px;
  border: 1px solid rgba(28, 30, 32, 0.05);
  margin: 8px;
}
.dowPBJ {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.fvQZwL {
  position: relative;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: 100%;
  margin-right: 16px;
}
.w3-right {
  float: right !important;
}
.prFOj {
  position: relative;
  visibility: visible;
}
.figqR {
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  margin-top: 41px;
  margin-right: 4px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.fWWlAv {
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  margin-top: 40px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.fgxGhh {
  position: absolute;
  top: 18px;
  right: 0;
  visibility: hidden;
}
.jss22 {
  display: flex;
  border-radius: 4px;
}
.iPDNHq {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding-top: 1.1rem;
  padding-top: 0;
}
.jss14 {
  padding: 10px;
}
.w3-rest {
  overflow: hidden;
}
.jUfTUC {
  font-size: 14px;
  font-weight: 500;
  color: rgba(28, 30, 32, 0.88);
  margin-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}
.cXHXDv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin-top: 8px;
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frvmGr {
  font-size: 13px;
  line-height: 18px;
  color: rgba(28, 30, 32, 0.5);
}
.sc-bgVQgE:hover .sc-ezFbHo {
  visibility: visible;
}
.sc-bgVQgE:hover .sc-tbhkc {
  visibility: hidden;
}
.dQtBnd:hover {
  background-color: rgba(28, 30, 32, 0.05);
}
.dowPBJ img {
  width: 100%;
}
.logo-ft img {
  height: 50px;
}
.ft-page {
  background-color: rgba(250, 250, 250, 1);
}
.footer-copyright {
  border-top: 1px solid rgba(28, 30, 32, 0.05);
}
.zm-partner-item {
  border-radius: 8px;
  overflow: hidden;
}
.zm-partner-item .image {
  background-color: #fff;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.zm-partner-item .image img {
  max-width: 90%;
  max-height: 80%;
  width: auto;
}
.zm-partner-item .content {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}
.bdIIfT {
  line-height: 24px;
}
.krDxsF {
  font-size: 14px;
  color: rgba(28, 30, 32, 0.5);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  line-height: 20px;
}
.iJtgKn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(28, 30, 32, 0.88);
}
.ixRSYj {
  margin-top: 14px;
}
.cHbucU {
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  line-height: 18px;
}
.idAWVU {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 30, 32, 0.5);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.chWPSK {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  background-color: rgba(28, 30, 32, 0.02);
  margin-top: 24px;
  padding-right: 14px;
}
.kqVftK {
  height: 18px;
  line-height: 18px;
  font-size: 13px;
  color: rgba(28, 30, 32, 0.5);
}
.gOzSIw {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #2daaed;
  text-transform: uppercase;
}
.hVIUVP {
  margin-top: 44px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  color: rgba(28, 30, 32, 0.88);
}
.subtitle {
  color: rgba(28, 30, 32, 0.5);
  font-size: 16px;
}
.is-50x50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.is-50x50 img {
  width: 100%;
}
.username {
  font-weight: 500;
  margin-bottom: 5px;
}
.post-time {
  color: rgba(28, 30, 32, 0.5);
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.ct-cmt {
  margin-top: 0;
}
.box_form_comment .btn_cloud_up {
  margin-top: 20px !important;
  border-radius: 69px !important;
  color: #fff !important;
  border: none;
  min-width: 125px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  min-height: 38px;
  transition: all 0.2s linear;
  background-color: #2daaed !important;
}
.box_form_comment .form-group .form-control {
  border: none;
  resize: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 16px;
  color: #979797;
}
.form-control:focus {
  box-shadow: none !important;
}
.ecWqJq {
  font-size: 22px;
  color: rgba(28, 30, 32, 0.2);
  margin: 0 6px;
  color: rgba(28, 30, 32, 0.5);
  background: linear-gradient(to top right, #287be5, #29d7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eQPNCN {
  font-size: 22px;
  color: rgba(28, 30, 32, 0.2);
  margin: 0 6px;
  color: rgba(28, 30, 32, 0.5);
  background: linear-gradient(to top right, #1a82e5, #df22f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.iZRkvq {
  font-size: 22px;
  color: rgba(28, 30, 32, 0.2);
  margin: 0 6px;
  color: rgba(28, 30, 32, 0.5);
  background: linear-gradient(to top right, #27b3e2, #13f8e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.epsJsi {
  font-size: 22px;
  color: rgba(28, 30, 32, 0.2);
  margin: 0 6px;
  color: rgba(28, 30, 32, 0.5);
  background: linear-gradient(to top right, #ff9b2d, #ffe443);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
