.container{
    float: left;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,176,143,1) 25%, rgba(0,164,255,1) 85%);
}

.img{
    float: left;
}
.info{
    float: left;
    padding: 20px;
}